/* Seed color: #EC97EC */

:root,
[data-bs-theme=light] {
  --bs-body-color: #1F1A1F;/*font color*/
  --bs-body-bg: #FFF7FA;/*background color*/
  --bs-emphasis-color-rgb: 38, 22, 37; /* #F5DBF0 nav-item nav-brand: on secondary container*/
  --bs-secondary-color: #4D444C; /*footer text: on surface variant*/
  --bs-link-color-rgb: 238, 180, 234; /* #EEB4EA social icons:primary fixed  */
  --bs-border-color-translucent: rgb(208, 195, 204); /* #D0C3CC card border color: outline variant*/
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #EBDFE6; /*font color*/
  --bs-body-bg: #171216; /*background color*/
/*  --bs-emphasis-color: #F5DBF0;*/
  --bs-emphasis-color-rgb: 245, 219, 240; /* #F5DBF0 nav-item nav-brand: on secondary container*/
  --bs-secondary-color: #D0C3CC; /*footer text: on surface variant*/
  --bs-link-color-rgb: 238, 180, 234; /* #EEB4EA social icons:primary fixed  */
  --bs-border-color-translucent: rgb(77, 68, 76); /* #4D444C card border color: outline variant*/
}

#home img{
  background-color: transparent;
  width:55%;
}



[data-bs-theme=dark] .btn-secondary{
  background-color: #4A204C; /* on primary */
  color:#FFD6FA; /* on primary container*/
  border-color: #4D444C;
}
[data-bs-theme=dark] .btn-secondary:hover {
  background-color: #633664; /*primary container*/ 
}
[data-bs-theme=dark] .badge-primary{
  background-color:#534152; /* secondary container */
  color:#F5DBF0; /*on secondary container*/
}
[data-bs-theme=dark] .navbar{
  background-color: #241E23; /*surface container*/
}


[data-bs-theme=light] .btn-secondary{
  background-color: #FFFFFF; /* on primary */
  color:#320935; /* on primary container*/
  border-color: #D0C3CC;
}
[data-bs-theme=light] .btn-secondary:hover {
  background-color: #FFD6FA; /*primary container*/
}
[data-bs-theme=light] .badge-primary{
  background-color:#F5DBF0; /* secondary container */
  color:#261625; /*on secondary container*/
}
[data-bs-theme=light] .navbar{
  background-color: #F7EBF1; /*surface container*/
}

body { font-family: Arial, sans-serif; transition: background 0.3s, color 0.3s; }
.hero { height: 60vh; display: flex; align-items: center; justify-content: center; transition: background 0.3s; }
.project-card { transition: transform 0.3s; }
.project-card:hover { transform: scale(1.05);} 
.card-footer { border-top:0px; }

